.site_container .contain_guide{width:1020px;position:relative}
.main_content{background:#fff;border-radius:2px;border-left:0 none;min-height:600px;_height:1000px;padding:20px 0}
.icon_routing,.icon_brand,.icon_ticket,.icon_approved,.icon_unapproved,.icon_messpop,.icon_download,.icon_user,.icon_hlw,.icon_history,.icon_list,.icon_follow,.icon_team,.icon_quan,.icon_upload,.icon_vmanage,.icon_project,.icon_approve,.icon_data,.icon_cash,.icon_channel,.icon_channel_person,.icon_message,.icon_moneybag,.icon_task,.icon_comment,.icon_vstore{display:inline-block;*display:inline;*zoom:1;width:22px;height:22px;font-size:0;background-image:url(images/sprite_navi.png);background-image:-webkit-image-set(url(images/sprite_navi.png) 1x,url(images/sprite_navi@2x.png) 2x);background-color:transparent;background-repeat:no-repeat;vertical-align:top}
.icon_vstore{background-position:-746px -10px}
.icon_comment{background-position:-681px -10px}
.icon_approved{width:34px;height:15px;background-position:-42px -74px;margin:3px 0 0 10px}
.current .icon_approved{background-position:-42px -90px}
.icon_unapproved{width:34px;height:15px;background-position:-80px -74px;margin:3px 0 0 10px}
.current .icon_unapproved{background-position:-80px -90px}
.icon_renews{width:67px;height:20px;border:1px solid #cf3220;line-height:20px;color:#e2110f;padding:0 5px;border-radius:2px}
.icon_routing{background-position:-650px -10px}
.icon_brand{background-position:-554px -10px}
.icon_ticket{background-position:-490px -10px}
.icon_download{background-position:-10px -74px}
.icon_user{background-position:-9px -10px}
.icon_hlw{background-position:-42px -10px}
.icon_history{background-position:-74px -10px}
.icon_list{background-position:-106px -10px}
.icon_follow{background-position:-138px -10px}
.icon_team{background-position:-714px -10px}
.icon_quan{background-position:-202px -10px}
.icon_upload{background-position:-234px -10px}
.icon_vmanage{background-position:-266px -10px}
.icon_project{background-position:-298px -10px}
.icon_approve{background-position:-330px -10px}
.icon_data{background-position:-362px -10px}
.icon_cash{background-position:-394px -10px}
.icon_channel{background-position:-426px -10px}
.icon_channel_person{background-position:-522px -10px}
.icon_message{background-position:-458px -10px}
.icon_moneybag{background-position:-586px -10px}
.icon_task{background-position:-618px -10px}
.icon_verify_unpass,.icon_verify_verifing,.icon_verify_pass,.icon_verify_tips,.icon_copyright_16,.icon_revias,.icon_diamond_16,.icon_choice,.icon_uacc,.icon_account_qq,.icon_account_wx,.icon_question_red_12,.icon_question_gray_12,.icon_copyright_12,.icon_tag_01,.icon_tag_02,.icon_subscript,.icon_play_16,.icon_plus_16,.icon_edit_16,.icon_edit_strong,.icon_delete_16,.icon_pc,.icon_ipad,.icon_iphone,.icon_pc_dark,.icon_ipad_dark,.icon_iphone_dark,.mark_select,.icon_lists,.icon_guide,.icon_qq,.icon_tqq,.icon_delete,.icon_add,.icon_recom,.icon_contact,.icon_search,.icon_play,.icon_discuss,.icon_star,.icon_edited,.icon_check,.icon_vplus,.icon_plus,.icon_plus_cn,.icon_drag,.submit{display:inline-block;*display:inline;*zoom:1;background-image:url(images/sprite_common.png);_background-image:url(images/sprite_common.ie6.png);background-image:-webkit-image-set(url(images/sprite_common.png) 1x,url(images/sprite_common@2x.png) 2x);background-color:transparent;background-repeat:no-repeat;vertical-align:top}
.icon_verify_unpass{width:16px;height:16px;background-position:-70px -35px}
.icon_verify_verifing{width:16px;height:16px;background-position:-90px -35px}
.icon_verify_pass{width:16px;height:16px;background-position:-110px -35px}
.icon_verify_tips{width:16px;height:16px;background-position:-130px -35px}
.icon_copyright_16{width:16px;height:16px;background-position:-170px -35px}
.icon_revias{width:16px;height:16px;background-position:-170px -10px}
.icon_diamond_16{width:16px;height:16px;background-position:-175px -90px}
.icon_choice{width:32px;height:32px;background-position:-150px -150px}
.icon_uacc{width:30px;height:28px;background-position:-110px -150px}
.icon_account_qq{width:40px;height:40px;background-position:-10px -150px}
.icon_account_wx{width:40px;height:40px;background-position:-60px -150px}
.icon_question_red_12{width:12px;height:12px;background-position:-185px -60px}
.icon_question_gray_12{width:12px;height:12px;background-position:-200px -60px}
.icon_copyright_12{width:12px;height:12px;background-position:-170px -60px}
.icon_copyright_16{width:16px;height:16px;background-position:-170px -35px}
.icon_tag_01{width:10px;height:13px;background-position:-70px -120px}
.icon_tag_02{width:10px;height:10px;background-position:-90px -120px}
.icon_subscript{width:10px;height:10px;background-position:-130px -120px}
.btn_subscripted .icon_subscript{background-position:-110px -120px}
.icon_play_16{width:14px;height:16px;background-position:-90px -90px}
.icon_plus_16{width:16px;height:17px;background-position:-110px -90px}
.icon_edit_16{width:16px;height:16px;background-position:-130px -90px}
.icon_edit_strong{width:16px;height:16px;background-position:-195px -10px}
a:hover .icon_edit_strong{background-position:-195px -35px}
.icon_delete_16{width:16px;height:16px;background-position:-150px -90px}
.icon_pc,.icon_pc_dark{width:10px;height:10px;background-position:-10px -120px}
.icon_ipad,.icon_ipad_dark{width:9px;height:11px;background-position:-30px -120px}
.icon_iphone,.icon_iphone_dark{width:7px;height:11px;background-position:-50px -120px}
.icon_pc_dark,.icon_ipad_dark,.icon_iphone_dark{background-position-y:-135px}
.mark_select{width:26px;height:26px;background-color:#ff7a0d;background-position:-45px -88px;position:absolute;right:0;top:0;z-index:10}
.icon_lists{width:11px;height:11px;background-position:-10px -90px}
.icon_guide{width:11px;height:11px;background-position:-30px -90px}
.icon_qq{width:14px;height:16px;background-position:-150px -10px}
.icon_tqq{width:16px;height:16px;background-position:-10px -35px}
.icon_delete{width:12px;height:12px;background-position:-10px -10px}
.icon_add{width:12px;height:12px;background-position:-30px -10px}
.icon_recom{width:13px;height:13px;background-position:-30px -35px}
.icon_contact{width:12px;height:10px;background-position:-50px -35px}
.icon_search{width:16px;height:16px;background-position:-380px -10px}
.icon_play{width:11px;height:11px;background-position:-50px -10px}
.icon_discuss{width:12px;height:12px;background-position:-70px -10px}
.icon_star{width:12px;height:12px;background-position:-90px -10px}
.icon_edited{width:12px;height:12px;background-position:-110px -10px}
.icon_check{width:16px;height:18px;background-position:-10px -60px}
.icon_vplus{width:19px;height:18px;background-position:-35px -60px}
.icon_plus{width:10px;height:10px;background-position:-65px -60px}
.icon_plus_cn{width:13px;height:13px;background-position:-65px -75px}
.icon_drag{width:22px;height:22px;background-position:-110px -60px}
.icon_drag:hover{width:22px;height:22px;background-position:-140px -60px}
.icon_empty_200{display:inline-block;width:200px;height:200px;overflow:hidden;background:url(images/ico_empty_200.png)}
.icon_empty_subscript{display:inline-block;width:128px;height:120px;overflow:hidden;background:url(images/icon_empty_subscript.png)}
.user_info{border-bottom:1px solid #e8e8e8;padding:30px 0;text-align:center}
.user_info .navi_avater{display:inline-block;width:120px;height:120px;margin:0 auto 10px auto;position:relative}
.user_info .navi_avater img{border-radius:50%;width:120px;height:120px}
.user_info .navi_avater .mask,.user_info .option_toggle{position:absolute;left:0;top:0;width:120px;border-radius:50%}
.user_info .navi_avater .mask{display:none;height:120px;background:rgba(0,0,0,.6);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#99000000',endColorstr='#99000000')}
:root .user_info .navi_avater .mask{filter:none}
.user_info .option_toggle{text-align:center;padding-top:38px;display:none;cursor:pointer}
.user_info .option_toggle .inner{display:inline-block;width:100%;color:#fefefe;line-height:24px}
.user_info .icon_account_wx,.user_info .icon_account_qq{position:absolute;right:0;bottom:0}
.user_info .navi_avater_hover .mask,.user_info .navi_avater_hover .option_toggle,.user_info .navi_avater:hover .mask,.user_info .navi_avater:hover .option_toggle{display:block}
.user_info .user_title{font-size:18px;color:#444;margin-bottom:5px;word-break:break-all;word-wrap:break-word}
.user_info .level_option{margin:5px 0;min-height:20px;_height:20px}
.user_info .level_option a{margin-right:5px}
.user_info .level_option i{vertical-align:middle}
.user_info .user_holly{font-size:12px;color:#999}
.user_holly .desc{margin-right:10px}
.user_info .user_manage{padding-top:3px;text-align:center;zoom:1;line-height:21px}
.user_info .user_manage .link_mg{color:#666;font-size:12px}
.user_info .user_manage .link_mg:hover{color:#ff7800}
.user_navigate{width:224px;background:#fafafa;border:1px solid #e8e8e8;position:absolute;left:0;top:0;bottom:0}
.navigate_list .item{*zoom:1}
.navigate_list .navi_inner{display:block;padding:10px 0 10px 18px;margin:0 30px;color:#666;font-size:14px;cursor:pointer;height:22px}
.navigate_list .navi_inner .num{display:inline-block;vertical-align:middle;position:relative;top:-1px;margin-left:10px;min-width:7px;padding-left:3px;padding-right:2px;height:12px;line-height:14px;font-size:11px;color:#fff;text-align:center;font-family:Arial;background:#ff7a0d;border-radius:6px 6px 6px 6px}
.navigate_list .item_disabled .navi_inner{opacity:.4;filter:alpha(opacity=40);cursor:default}
.navigate_list .item_disabled .navi_inner:hover{color:#666}
.navigate_list .item_border .navi_inner{border-bottom:1px solid #e8e8e8}
.navigate_list .navi_inner:hover{color:#ff7a0d}
.navigate_list .navi_inner i{margin:0 8px 0 0;_margin-top:-3px}
.navigate_list .navi_inner .icon_messpop,.warm_list .item .icon_messpop{background:#ff7a0d;border-radius:50%;font-size:0;line-height:99px;overflow:hidden;width:6px;height:6px;margin:4px 0 0 2px;_margin-top:0}
.warm_list .item .icon_messpop{margin:-3px 0 0 3px}
.navigate_list .current{background:#ff7a0d;color:#fff;margin:0;padding:10px 0 10px 48px}
.navigate_list .current:hover{color:#fff}
.navigate_list .current i{background-position-y:-42px}
.navigate_list .current .icon_messpop{background:#fff}
.navigate_list .current .num{color:#ff7a0d;background:#fff}
.btn_normal{display:inline-block;*display:inline;*zoom:1;border:1px solid #c3c3c3;color:#666;font-size:12px}
.btn_normal:hover{color:#ff7a0d}
.btn_normal i{margin-right:5px}
.btn_install{display:inline-block;width:77px;height:30px;line-height:30px;background:#ff7a0d;color:#fff;text-align:center}
.btn_install:hover{color:#fff;background:#ff6700}
.btn_empty{width:60px;height:33px;line-height:33px;border:1px solid #e5e5e5;border-radius:1px;text-align:center}
.mod_pages{padding:15px 0;text-align:center;font-size:0;clear:both}
.mod_pages .ellipsis{display:inline-block;font-size:14px;padding:0 12px;margin:0 4px;height:30px;line-height:30px;border:1px solid #ededed}
.mod_pages a{display:inline-block;margin:0 4px;height:30px;line-height:30px;border:1px solid #ededed;padding:0 12px;color:#848484;font-size:14px}
.mod_pages a:hover{border-color:#ff7e0c;color:#ff7e0c}
.mod_pages .current,.mod_pages .current:hover{border-color:#ff7e0c;color:#fff;background-color:#ff7e0c}
.mod_load_more{background:#f1f1f1;color:#a5a5a5;height:22px;line-height:22px;text-align:center;cursor:pointer}
.mod_load_more.dialog_load_more{margin-bottom:-50px}
.ico_vip,.ico_vip_grey,.ico_year,.ico_year_grey,.ico_vipyear,.ico_vipyear_grey{display:inline-block;*display:inline;zoom:1;width:16px;height:16px;font-size:0;overflow:hidden;background:url(images/sprite_vip.png) 0 0 no-repeat}
.ico_vip_grey{background-position:-20px 0}
.ico_vip_lv1{background-position:0 -20px}
.ico_vip_lv2{background-position:-20px -20px}
.ico_vip_lv3{background-position:-40px -20px}
.ico_vip_lv4{background-position:-60px -20px}
.ico_vip_lv5{background-position:-80px -20px}
.ico_vip_lv6{background-position:-100px -20px}
.ico_vip_lv7{background-position:-120px -20px}
.ico_vip_lv1_grey{background-position:0 -40px}
.ico_vip_lv2_grey{background-position:-20px -40px}
.ico_vip_lv3_grey{background-position:-40px -40px}
.ico_vip_lv4_grey{background-position:-60px -40px}
.ico_vip_lv5_grey{background-position:-80px -40px}
.ico_vip_lv6_grey{background-position:-100px -40px}
.ico_vip_lv7_grey{background-position:-120px -40px}
.ico_year{background-position:-50px 0}
.ico_year_grey{background-position:-70px 0}
.ico_vipyear{width:30px;background-position:-280px -60px}
.ico_vipyear_lv1{background-position:-00px -60px}
.ico_vipyear_lv2{background-position:-40px -60px}
.ico_vipyear_lv3{background-position:-80px -60px}
.ico_vipyear_lv4{background-position:-120px -60px}
.ico_vipyear_lv5{background-position:-160px -60px}
.ico_vipyear_lv6{background-position:-200px -60px}
.ico_vipyear_lv7{background-position:-240px -60px}
.ico_vipyear_grey{width:30px;background-position:-280px -80px}
.ico_vipyear_lv1_grey{background-position:0 -80px}
.ico_vipyear_lv2_grey{background-position:-40px -80px}
.ico_vipyear_lv3_grey{background-position:-80px -80px}
.ico_vipyear_lv4_grey{background-position:-120px -80px}
.ico_vipyear_lv5_grey{background-position:-160px -80px}
.ico_vipyear_lv6_grey{background-position:-200px -80px}
.ico_vipyear_lv7_grey{background-position:-240px -80px}
.common_loading{padding:50px 0;text-align:center;font-size:14px;color:#999}
.mod_load_page{padding-top:20px;text-align:center}
.load_line{border-top:1px dotted #d3d3d3}
.load_wrap{display:inline-block;*display:inline;*zoom:1;padding:5px 10px;background:#fff;position:relative;top:-15px}
.load_title a{font-size:14px}
.loading_status a{color:#999;text-decoration:none;cursor:default}
.load_desc{color:#999}
.mod_empty_data{clear:both;text-align:center;padding:120px 0 60px 0}
.icom_emoji_cry{display:inline-block;width:240px;height:180px;background:url(images/emoji_cry.png) no-repeat}
.mod_empty_data .text{display:block;font-size:18px;color:#999;padding:30px 0}
.mod_row_title{border-bottom:1px solid #e8e8e8;padding-bottom:10px;margin:0 30px;margin-bottom:20px}
.mod_row_title .title{font-size:18px;color:#444;font-weight:normal}
@-webkit-keyframes anm_scale{0%{-webkit-transform:scale(1)}
100%{-webkit-transform:scale(0);width:0}}
@-moz-keyframes anm_scale{0%{-moz-transform:scale(1)}
100%{-moz-transform:scale(0);width:0}}
@keyframes anm_scale{0%{transform:scale(1)}
100%{transform:scale(0);width:0}}
.anm_scale{-webkit-transform:scale(0);-moz-transform:scale(0);transform:scale(0);-webkit-animation:anm_scale .5s linear;-moz-animation:anm_scale .5s linear;animation:anm_scale .5s linear}
.mod_tab_list{position:relative;zoom:1;margin-bottom:20px;border-bottom:1px solid #e2e2e2;padding:10px 0 0 30px;height:32px;font-size:0;overflow:hidden}
.mod_tab_list .item{float:left;height:16px;line-height:16px;font-size:18px;color:#999;cursor:pointer;margin-right:30px;padding-bottom:5px}
.mod_tab_list .item .txt{position:relative;display:inline-block;height:14px;padding:0 10px;line-height:14px;*line-height:normal;*padding-bottom:10px;_padding-bottom:0;color:#999}
.mod_tab_list .item .txt .dot{position:absolute;right:3px;top:-4px;width:6px;height:6px;background:#ff6300;border-radius:50%}
.mod_tab_list .item .txt .nums{margin-left:10px}
.mod_tab_list .item:last-child .txt{border-right:0 none}
.mod_tab_list .current{position:relative;color:#444;border-bottom:2px solid #fe5500;padding-bottom:15px;_margin-bottom:-1px}
.mod_tab_list .current .txt,.mod_tab_list .current a{color:#444}
.mod_title_dot{height:12px;border-top:1px solid #efefef;margin:10px 0}
.history_today .mod_title_dot{border-top:0 none}
.mod_title_dot .mod_title{display:inline-block;*display:inline;zoom:1;position:relative;height:24px;line-height:24px;padding:0 10px 0 0;margin-top:-13px;font-size:20px;background:#fff;font-weight:normal}
.mod_title_dot .mod_title .icon_tag_01{margin:6px 10px 0 0}
.mod_title_dot .mod_title .icon_tag_02{margin:8px 10px 0 0}
.mod_title_dot .mod_title a{color:#333}
.mod_fixed_custom{position:fixed;left:50%;top:320px;margin-left:640px;z-index:9999}
.qq_service{display:block;width:54px;height:84px;line-height:9999px;font-size:0;border:1px solid #dcdcdc;box-shadow:0 0 5px 1px rgba(0,0,0,.1);background:#fff url(images/qq_service.png) 8px 0 no-repeat}
.qq_service:hover{background-position:-42px 0}
.service{display:inline-block;height:20px;line-height:20px;border-radius:1px;border:1px solid #d6d6d6;padding:0 5px;color:#999;background:#f8f8f8;background:-moz-linear-gradient(top,#fbfbfb,#f4f4f4 50%);background:-webkit-gradient(linear,0 0,0 50%,from(#fbfbfb),to(#f4f4f4));background:gradient(linear,0 0,0 50%,from(#fbfbfb),to(#f4f4f4))}
.service i{vertical-align:top!important;margin-top:2px!important}
.service:hover{background:#ededed}
.service:hover i{background-position-y:-35px}
@-webkit-keyframes popup{0%{-webkit-transform:scale(0.8)}
60%{-webkit-transform:scale(1.1)}
100%{-webkit-transform:scale(1)}}
.popup_account{display:none}
.mod_pop_account{width:540px;top:50%;margin-left:-270px;-webkit-animation:popup .3s ease;-webkit-transform-origin:50% -10px}
.mod_pop_account .mod_pop_bd{padding:5px 30px 30px 30px}
.pop_bd_title{font-size:20px;color:#333;font-weight:normal;margin-bottom:10px}
.mod_pop_account .account_list{margin-bottom:20px}
.mod_pop_account .account_list .item{position:relative;border-bottom:1px solid #e0e0e0;padding:30px 0 30px 140px;min-height:60px;_height:60px;cursor:pointer;-webkit-transition:all .6s ease;transition:all .6s ease}
.mod_pop_account .account_list .item:last-child{border-bottom:0 none}
.mod_pop_account .account_list .item_hover,.mod_pop_account .account_list .item:hover{background:#f8f8f8}
.mod_pop_account .account_list .item_avatar{position:absolute;left:16px;top:8px}
.mod_pop_account .account_list .item_avatar img{display:block;width:100px;height:100px;border-radius:50%;border:3px solid #fff}
.mod_pop_account .account_list .item_selected .item_avatar img{border-color:#ff7800}
.mod_pop_account .item_avatar .icon_account_wx,.mod_pop_account .item_avatar .icon_account_qq{position:absolute;right:0;bottom:0}
.mod_pop_account .item_avatar .icon_choice{position:absolute;left:-15px;top:38px;display:none}
.mod_pop_account .item_selected .icon_choice{display:inline-block}
.mod_pop_account .item_top .user_name{display:inline-block;*display:inline;*zoom:1;margin-right:10px;font-size:20px;color:#333;vertical-align:top;margin-top:-8px;max-width:270px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.mod_pop_account .item_top .medal{display:inline-block;vertical-align:top;margin:0 5px 0 0}
.mod_pop_account .item_btm{clear:both;padding:5px 0}
.mod_pop_account .item_btm .account_id{font-size:18px;color:#666}
.mod_pop_account .account_list .btn_logout{height:30px;line-height:30px;background:#ebebeb;padding:0 10px;color:#2a2a2a;font-size:14px;position:absolute;right:0;top:45px;border-radius:2px}
.mod_pop_account .account_list .btn_logout:hover{color:#fff;background:#ff6700}
.mod_pop_account .btn_login_toggle{display:block;width:480px;height:42px;line-height:42px;font-size:14px;color:#333;background:#f1f1f1;text-align:center;border-radius:20px}
.mod_pop_account .btn_login_toggle:hover{color:#ff6700}
.main_content .content_ad{position:absolute;top:20px;right:30px}
.mod_table{width:100%;max-width:100%;margin-top:20px;margin-bottom:20px;border:1px solid #e8e8e8}
.mod_table th{padding:20px;line-height:20px;color:#444;font-size:14px;font-weight:700;text-align:center;background-color:#fafafa;border:1px solid #e8e8e8}
.mod_table td{padding:14px 20px;line-height:20px;color:#444;font-size:14px;font-weight:100;text-align:center;background-color:#fff;border:1px solid #e8e8e8}
.mod_table .text_link{color:#ff7a0d}
.mod_table .text_link:hover{color:#e56700}
.mod_chart_item{margin-bottom:30px;overflow:hidden}
.comment_tab_list .item{margin-right:10px}
.comment_tab_list .item .txt{padding:0 35px}
.user_info{padding-bottom:20px}
.user_info .level_now{font-size:12px;color:#666;font-weight:normal;padding-left:7px}
.user_info .user_holly .desc{margin-right:0}
.user_info .icon_renews{margin-left:10px}
.user_info .btn_open{display:block;width:169px;height:34px;padding:0;line-height:34px;color:#fff;border:none;margin:15px auto 20px;background:#f44941;border-radius:34px}
.user_info .btn_open:hover{background:#eb2f26}
.user_info .icon_vcoin_m{display:inline-block;*display:inline;*zoom:1;position:relative;font-size:0;line-height:0;overflow:hidden;width:22px;height:22px;background:url(../images/common/sprite_money.png?v=20160427) no-repeat;_background-image:url(../images/common/sprite_money_ie6.png?v=20160427);background-position:-103px -32px;vertical-align:-5px;margin-right:8px}
.user_info .user_vcoin{color:#444;line-height:22px;margin-top:16px}
.user_info .user_vcoin_num em{padding-right:4px}
#CssGaga{content:"160623143927,v_e,334"}