.wrapper {
  width: 1000px;
  height: auto;
  margin: 0 auto;
}
.mg-l10 {
  margin-left: 10px;
}
.main {
  padding-bottom: 50px;
}
.databox {
  width: 1020px;

  }
.databox .hd {
  width: 1020px;
  font-size: 16px;
  color: #333;
  padding: 30px 0 15px;
}
.databox .hd span {
  font-size: 12px;
  color: #999;
  margin-left: 20px;
}
.databox .bd {
  border: 1px solid #e4e4e4;
}
.databox .bd > ul,
.databox .bd form > ul {
  padding: 20px 50px;
}
.databox .bd .btn-def {
  display: block;
  width: 180px;
  height: 40px;
  margin: 0 auto 30px;
  font-size: 16px;
  line-height: 40px;
}
.databox li {
  padding: 10px 0;
}
.databox li label,
.databox li span,
.databox li a {
  display: inline-block;
  font-size: 12px;
  line-height: 16px;
}
.databox li label {
  width: 90px;
  color: #333;
  text-align: right;
}
.databox li label > img {
  display: block;
}
.databox li .vertical-top {
  vertical-align: top;
  padding-top: 5px;
}
.databox li span {
  color: #666;
}
.databox li .headpic {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  border: 1px solid #e4e4e4;
}
.databox li .ora {
  color: #ff8530;
}
.databox li .gray {
  color: #999;
}
.databox li a {
  float: right;
  width: 75px;
  text-align: left;
  color: #2d85ca;
}
.databox li input,
.databox li select {
  width: 200px;
  height: 30px;
  border: 1px solid #e4e4e4;
  background-color: #fcfcfc;
  padding: 5px 8px;
  color: #666;
  border-radius: 2px;
}
.databox li input.datebox,
.databox li select.datebox {
  width: 80px;
}
.databox li textarea {
  width: 520px;
  height: 80px;
  padding: 5px 8px;
  border: 1px solid #e4e4e4;
  background: #fcfcfc;
  color: #666;
  border-radius: 2px;
}
.databox li .large-size {
  width: 260px;
}
.databox .third li {
  line-height: 44px;
}
.databox .third li a {
  line-height: 44px;
}
.float-nav {
  position: fixed;
  z-index: 10;
  top: 181px;
  left: 50%;
  margin-left: 290px;
  width: 210px;
  border: 1px solid #e4e4e4;
  background: #f9f9f9;
  padding: 18px 26px 25px;
}
.float-nav .tit {
  font-size: 16px;
  line-height: 1em;
  color: #333;
  margin-bottom: 25px;
}
.float-nav .listnav {
  font-size: 14px;
  color: #999;
  cursor: pointer;
}
.float-nav .listnav li {
  position: relative;
  height: 40px;
  padding-left: 20px;
}
.float-nav .listnav li a {
  color: #999;
  display: inline-block;
  width: 146px;
  padding: 3px 6px;
}
.float-nav .listnav li::before {
  content: "";
  position: absolute;
  left: 4px;
  top: 9px;
  width: 0;
  height: 40px;
  border-left: 2px solid #e4e4e4;
}
.float-nav .listnav li::after {
  content: "";
  position: absolute;
  left: 0;
  top: 8px;
  width: 10px;
  height: 11px;
  background: url("../images/icon-dot-gray.png") no-repeat 0 0;
}
.float-nav .listnav li:last-child {
  padding-bottom: 0;
  height: auto;
}
.float-nav .listnav li:last-child::before {
  height: 6px;
}
.float-nav .listnav li:hover a {
  color: #666;
  background-color: #fff;
}
.float-nav .listnav li:hover::after {
  background-image: url("../images/icon-dot-green.png");
}
.float-nav .listnav li.active a {
  color: #666;
}
.float-nav .listnav li.active::after {
  left: -4px;
  top: 6px;
  width: 21px;
  height: 14px;
  background-image: url("../images/icon-alt-right.png");
}
