<<<<<<< HEAD


.del_msg{				
						z-index:1001;
	 				    -moz-opacity: 0.5;
	    				opacity:.50; 
	    			    filter: alpha(opacity=50);
						display:none;
						text-align:center;
						line-height:40px;
						font-size:18px;
						color:#ffffff;
						border-radius:3px;
						background-color:#FF9600;
						background-repeat:repeat-x;
						/*border:2px solid #06F;*/
						z-index:2;
						width: 120px;
						height: 40px;
						top:18%;/*FF IE7*/
						margin-left:44%!important;/*FF IE7 */
						margin-top:100px!important;/*FF IE7*/
						position:fixed!important;/*FF IE7*/
						position:absolute;/*IE6*/
						_top:       expression(eval(document.compatMode &&
						document.compatMode=='CSS1Compat') ?
						documentElement.scrollTop + (document.documentElement.clientHeight-this.offsetHeight)/2 :/*IE6*/
						document.body.scrollTop + (document.body.clientHeight - this.clientHeight)/2);/*IE5 IE5.5*/
					}
.min ul li {
	margin-right:40px;
	float:left;
}
.min ul li a:hover{color:#ff6600;}
.min ul li a.active {
    color: #21b1ff;
    border-bottom: 3px solid #21b1ff;
	display:block;
	height:20px;
}
.qsel{
	margin-top: 15px;
	height: 30px;
	background: #f3f9ff;
}
.r-t-nav-box .r-t-nav-title{font-size: 18px; color: #333333; width: 100%; position: relative;}
.r-t-nav-box .r-t-nav-main {
    width: 100%;
    height: 33px;
    border-bottom: 1px solid #e5e5e5;
    margin-top: 20px;
}
.r-t-nav-box .r-t-nav-main .prv-btn {
    width: 18px;
    height: 34px;
    background-position: -32px -44px;
    margin: 0 25px 0 0;
    cursor: pointer;
    display: none;
}
.r-t-nav-box .three-mun-box ul li .active:hover {
    color: #21b1ff;
}.r-t-nav-box .three-mun-box ul li a:hover {
    color: #ff6600;
}
.r-t-nav-box .three-mun-box ul li .active {
    color: #21b1ff;
    border-bottom: 3px solid #21b1ff;
}
.r-t-nav-box .three-mun-box ul li {
    display: block;
    float: left;
    line-height: 32px;
    margin-right: 40px;
    position: relative;
}
.r-t-nav-box .three-mun-box ul li a {
    display: block;
    width: 100%;
    height: 31px;
    overflow: hidden;
    line-height: 34px;
    color: #333;
    font-size: 14px;
    font-family: "Helvetica Neue","Hiragino Sans GB","Microsoft YaHei","\9ED1\4F53",Arial,sans-serif;
}
.manager_tool_fixBox {
    height: 40px;
    margin-bottom: 1px;
}
.YK_manager .manager_tool {
    margin-top: 15px;
    height: 30px;
    padding: 5px 10px;
    background: #f3f9ff;
    position: relative;
}
.manager_action {
    float: left;
    padding: 5px 0 3px;
}
.manager_action .check {
    float: left;
    padding-left: 2px;
    margin-right: 20px;
}
.manager_action .adddel {
    position: relative;
    float: left;
    margin-right: 20px;
}
input[type="checkbox"] {
    padding: 1px;
    margin: -1px 0;
}
.manager_action .check label {
    margin-left: 10px;
    font-size: 14px;
}
.manager_action .adddel {
    position: relative;
    float: left;
    margin-right: 20px;
}.manager_action .fn2nd, .manager_action .splite {
    float: left;
}.manager_action .splite {
    margin-right: 10px;
    font-size: 14px;
    color: #bbb;
}.manager_action .fn2nd, .manager_action .splite {
    float: left;
}.manager_action .fn2nd a {
    display: block;
    font-size: 14px;
    margin-right: 10px;
}a {
    color: #3399e0;
}a:hover {
    color: #ff6600;
    text-decoration: none !important;
}.YK_manager .manager_con {
    margin-bottom: 40px;
}
.YK_manager .databox, .YK_manager .databox table {
    width: 100%;
}.YK_manager .databox, .YK_manager .databox table {
    width: 100%;
}
table {
    border-spacing: 0;
    border-collapse: collapse;
}.YK_manager thead, .YK_manager tfoot {
    background: #f0f0f0;
}.YK_manager thead tr, .YK_manager tfoot tr {
    height: 40px;
}.dateTable_upload .m_video {
    width: auto;
    padding-right: 20px;
}.dateTable_upload .m_stat {
    width: 150px;
}
.YK_manager th {
    text-align: left;
    font-size: 14px;
}.dateTable_upload .m_heat {
    width: 130px;
}
.YK_manager tbody tr {
    border-bottom: 1px solid #eee;
}
.YK_manager td {
    vertical-align: middle;
}
.YK_manager td {
    padding: 9px 0;
}
.YK_manager td {
    vertical-align: top;
    padding: 10px 0;
}
th, td {
    word-break: break-all;
    word-wrap: break-word;
}.YK_manager .vsh, .YK_manager .psh {
    width: auto;
    height: auto;
    min-height: 50px;
    _height: 50px;
    padding-left: 100px;
    margin-bottom: 0;
}
.vsh {
    width: 190px;
    padding-left: 90px;
    min-height: 60px;
    _height: 60px;
}
.v {
    z-index: 0;
    position: relative;
    width: 128px;
    margin-bottom: 10px;
}.YK_manager .vsh .v_link, .YK_manager .vsh .v_thumb, .YK_manager .psh .p_link, .YK_manager .psh .p_thumb {
    width: 90px;
    height: 50px;
}
.vsh .v_link {
    width: 80px;
    height: 60px;
}
.v .v_link {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    width: 128px;
    height: 80px;
    background: url(/index/img/master.png) no-repeat 5000px 5000px;
}.v .v_link a {
    display: block;
    height: 100%;
}.YK_manager .vsh .v_link, .YK_manager .vsh .v_thumb, .YK_manager .psh .p_link, .YK_manager .psh .p_thumb {
    width: 90px;
    height: 50px;
}
.vsh .v_thumb {
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    height: 60px;
    margin-bottom: 0;
}
.v .v_thumb {
    width: 128px;
    height: 80px;
    overflow: hidden;
    margin-bottom: 7px;
    background: #999;
}.YK_manager .vsh .v_thumb img, .YK_manager .psh .p_thumb img {
    width: 90px;
    height: 58px;
}
.vsh .v_thumb img {
    width: 80px;
    height: 60px;
    margin-top: 0;
}
.v .v_thumb img {
    display: block;
    width: 128px;
    height: 96px;
    margin-top: -8px;
}.YK_manager .vsh .v_ishd {
    top: 34px;
    left: 63px;
}
.vsh .v_ishd {
    top: 44px;
    left: 51px;
}
.v .v_ishd {
    z-index: 1;
    position: absolute;
    top: 64px;
    left: 99px;
    height: 14px;
    line-height: 14px;
    overflow: hidden;
}.vsh .v_menu {
    left: 64px;
}
.v .v_menu {
    z-index: 3;
    position: absolute;
    top: 0;
    left: 112px;
    cursor: pointer;
    width: 16px;
    height: 16px;
    line-height: 16px;
    padding: 0;
    background-repeat: no-repeat;
}.YK_manager .vsh .v_time {
    top: 32px;
}
.vsh .v_time {
    top: 42px;
}
.v .v_time {
    z-index: 1;
    position: absolute;
    top: 62px;
    left: 0;
    height: 18px;
    line-height: 17px;
    overflow: hidden;
}.YK_manager .v .v_time .num {
    font-weight: normal;
}
.v .v_time .num {
    font-weight: bold;
    color: #fff;
    font-size: 11px;
    line-height: 12px;
    margin: 0 4px;
}.v .v_time .bg {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 18px;
    background: #000;
    filter: alpha(opacity=60);
    opacity: 0.6;
}.dateTable_upload .m_check {
    width: 35px;
    text-align: center;
    vertical-align: middle;
}.YK_manager .vsh .v_title, .YK_manager .psh .p_title {
    font-size: 14px;
}.YK_manager .vsh .v_title a, .YK_manager .psh .p_title a {
    color: #555;
}.v li, .v li * {
    line-height: 20px;
    color: #909090;
}.YK_manager .v_info .num {
    margin-right: 10px;
    font-size: 12px;
}
.v li, .v li * {
    line-height: 20px;
    color: #909090;
}
.complete{
	font-size:12px;
}.dateTable_upload .m_stat {
    width: 150px;
}.dateTable_upload .m_stat .stat {
    position: relative;
    padding-right: 15px;
}.dateTable_upload .stat .complete {
    margin: 15px 0 0 -25px;
}.dateTable_upload .stat .complete span {
    padding: 5px 0 0 25px;
}.dateTable_upload .m_heat {
    width: 130px;
}.dateTable_upload .heat {
    padding-left: 25px;
}.dateTable_upload .heat li {
    position: relative;
}.dateTable_upload .heat a {
    color: #555;
}.dateTable_upload .heat .ico__statplay, .dateTable_upload .heat .ico__statcomment, .dateTable_upload .heat .ico__refer {
    position: absolute;
    left: -25px;
    top: 5px;
    *top: 3px;
}.dateTable_upload .heat a {
    color: #555;
    font-size: 12px;
}
.dateTable_upload .heat span {
    color: #909090;
	font-size:12px;
}
.ico__statplay {
    background: url(../images/master.png) no-repeat -64px -224px;
    width: 16px;
    height: 12px;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: text-bottom;
}.dateTable_upload .heat .ico__statcomment, .dateTable_upload .heat .ico__refer {
    position: absolute;
    left: -25px;
    top: 5px;
    *top: 3px;
}
.dateTable_upload .heat span {
    color: #909090;
}
.ico__statcomment {
    background: url(../images/master.png) no-repeat -96px -224px;
    width: 16px;
    height: 12px;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: text-bottom;
}.dateTable_upload .m_opt {
    width: 100px;
    *width: 120px;
}.dateTable_upload .action {
    position: inherit;
    width: 100px;
}
.dateTable_upload .action {
    position: absolute;
    padding: 1px 0 0 1px;
    margin: 0 0 0 -11px;
}.dateTable_upload .action .share {
    display: block;
    padding-left: 1px;
	font-size:12px;
}
/*.dateTable_upload .m_check {
    width: 35px;
    text-align: center;
    vertical-align: middle;
}input[type="checkbox"] {
    padding: 1px;
    margin: -1px 0;
}.dateTable_upload .m_video {
    width: auto;
    padding-right: 20px;
}.YK_manager .vsh, .YK_manager .psh {
    width: auto;
    height: auto;
    min-height: 50px;
    padding-left: 100px;
    margin-bottom: 0;
}
.vsh {
    width: 190px;
    padding-left: 90px;
    min-height: 60px;
}
.v {
    z-index: 0;
    position: relative;
    width: 128px;
    margin-bottom: 10px;
}.YK_manager .vsh .v_link, .YK_manager .vsh .v_thumb, .YK_manager .psh .p_link, .YK_manager .psh .p_thumb {
    width: 90px;
    height: 50px;
}
.vsh .v_link {
    width: 80px;
    height: 60px;
}
.v .v_link {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    width: 128px;
    height: 80px;
    background: url(/index/img/master.png) no-repeat 5000px 5000px;
}.vsh .v_thumb {
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    height: 60px;
    margin-bottom: 0;
}
.YK_manager .vsh, .YK_manager .psh {
    width: auto;
    height: auto;
    min-height: 50px;
    _height: 50px;
    padding-left: 100px;
    margin-bottom: 0;
}
.vsh {
    width: 190px;
    padding-left: 90px;
    min-height: 60px;
    _height: 60px;
}
.v {
    z-index: 0;
    position: relative;
    width: 128px;
    margin-bottom: 10px;
}
.v .v_thumb {
    position: relative;
    width: 128px;
    height: 80px;
    overflow: hidden;
    margin-bottom: 7px;
    background: #999;
}.YK_manager .vsh .v_ishd {
    top: 34px;
    left: 63px;
}
.vsh .v_ishd {
    top: 44px;
    left: 51px;
}
.v .v_ishd {
    z-index: 1;
    position: absolute;
    top: 64px;
    left: 99px;
    height: 14px;
    line-height: 14px;
    overflow: hidden;
}.vsh .v_menu {
    left: 64px;
}
.v .v_menu {
    z-index: 3;
    position: absolute;
    top: 0;
    left: 112px;
    cursor: pointer;
    width: 16px;
    height: 16px;
    line-height: 16px;
    padding: 0;
    background-repeat: no-repeat;
}.YK_manager .vsh .v_time {
    top: 32px;
}
.vsh .v_time {
    top: 42px;
}
.v .v_time {
    z-index: 1;
    position: absolute;
    top: 62px;
    left: 0;
    height: 18px;
    line-height: 17px;
    overflow: hidden;
}
.v li, .v li * {
    line-height: 20px;
    color: #909090;
=======


.del_msg{
						display:none;
						text-align:center;
						line-height:40px;
						font-size:18px;
						color:#ffffff;
						border-radius:3px;
						background-color:#f9a007;
						background-repeat:repeat-x;
						/*border:2px solid #06F;*/
						z-index:2;
						width: 120px;
						height: 40px;
						top:18%;/*FF IE7*/
						margin-left:44%!important;/*FF IE7 */
						margin-top:100px!important;/*FF IE7*/
						position:fixed!important;/*FF IE7*/
						position:absolute;/*IE6*/
						_top:       expression(eval(document.compatMode &&
						document.compatMode=='CSS1Compat') ?
						documentElement.scrollTop + (document.documentElement.clientHeight-this.offsetHeight)/2 :/*IE6*/
						document.body.scrollTop + (document.body.clientHeight - this.clientHeight)/2);/*IE5 IE5.5*/
					}
.min ul li {
	margin-right:40px;
	float:left;
}
.min ul li a:hover{color:#ff6600;}
.min ul li a.active {
    color: #21b1ff;
    border-bottom: 3px solid #21b1ff;
	display:block;
	height:20px;
}
.qsel{
	margin-top: 15px;
	height: 30px;
	background: #f3f9ff;
}
.r-t-nav-box .r-t-nav-title{font-size: 18px; color: #333333; width: 100%; position: relative;}
.r-t-nav-box .r-t-nav-main {
    width: 100%;
    height: 33px;
    border-bottom: 1px solid #e5e5e5;
    margin-top: 20px;
}
.r-t-nav-box .r-t-nav-main .prv-btn {
    width: 18px;
    height: 34px;
    background-position: -32px -44px;
    margin: 0 25px 0 0;
    cursor: pointer;
    display: none;
}
.r-t-nav-box .three-mun-box ul li .active:hover {
    color: #21b1ff;
}.r-t-nav-box .three-mun-box ul li a:hover {
    color: #ff6600;
}
.r-t-nav-box .three-mun-box ul li .active {
    color: #21b1ff;
    border-bottom: 3px solid #21b1ff;
}
.r-t-nav-box .three-mun-box ul li {
    display: block;
    float: left;
    line-height: 32px;
    margin-right: 40px;
    position: relative;
}
.r-t-nav-box .three-mun-box ul li a {
    display: block;
    width: 100%;
    height: 31px;
    overflow: hidden;
    line-height: 34px;
    color: #333;
    font-size: 14px;
    font-family: "Helvetica Neue","Hiragino Sans GB","Microsoft YaHei","\9ED1\4F53",Arial,sans-serif;
}
.manager_tool_fixBox {
    height: 40px;
    margin-bottom: 1px;
}
.YK_manager .manager_tool {
    margin-top: 15px;
    height: 30px;
    padding: 5px 10px;
    background: #f3f9ff;
    position: relative;
}
.manager_action {
    float: left;
    padding: 5px 0 3px;
}
.manager_action .check {
    float: left;
    padding-left: 2px;
    margin-right: 20px;
}
.manager_action .adddel {
    position: relative;
    float: left;
    margin-right: 20px;
}
input[type="checkbox"] {
    padding: 1px;
    margin: -1px 0;
}
.manager_action .check label {
    margin-left: 10px;
    font-size: 14px;
}
.manager_action .adddel {
    position: relative;
    float: left;
    margin-right: 20px;
}.manager_action .fn2nd, .manager_action .splite {
    float: left;
}.manager_action .splite {
    margin-right: 10px;
    font-size: 14px;
    color: #bbb;
}.manager_action .fn2nd, .manager_action .splite {
    float: left;
}.manager_action .fn2nd a {
    display: block;
    font-size: 14px;
    margin-right: 10px;
}a {
    color: #3399e0;
}a:hover {
    color: #ff6600;
    text-decoration: none !important;
}.YK_manager .manager_con {
    margin-bottom: 40px;
}
.YK_manager .databox, .YK_manager .databox table {
    width: 100%;
}.YK_manager .databox, .YK_manager .databox table {
    width: 100%;
}
table {
    border-spacing: 0;
    border-collapse: collapse;
}.YK_manager thead, .YK_manager tfoot {
    background: #f0f0f0;
}.YK_manager thead tr, .YK_manager tfoot tr {
    height: 40px;
}.dateTable_upload .m_video {
    width: auto;
    padding-right: 20px;
}.dateTable_upload .m_stat {
    width: 150px;
}
.YK_manager th {
    text-align: left;
    font-size: 14px;
}.dateTable_upload .m_heat {
    width: 130px;
}
.YK_manager tbody tr {
    border-bottom: 1px solid #eee;
}
.YK_manager td {
    vertical-align: middle;
}
.YK_manager td {
    padding: 9px 0;
}
.YK_manager td {
    vertical-align: top;
    padding: 10px 0;
}
th, td {
    word-break: break-all;
    word-wrap: break-word;
}.YK_manager .vsh, .YK_manager .psh {
    width: auto;
    height: auto;
    min-height: 50px;
    _height: 50px;
    padding-left: 100px;
    margin-bottom: 0;
}
.vsh {
    width: 190px;
    padding-left: 90px;
    min-height: 60px;
    _height: 60px;
}
.v {
    z-index: 0;
    position: relative;
    width: 128px;
    margin-bottom: 10px;
}.YK_manager .vsh .v_link, .YK_manager .vsh .v_thumb, .YK_manager .psh .p_link, .YK_manager .psh .p_thumb {
    width: 90px;
    height: 50px;
}
.vsh .v_link {
    width: 80px;
    height: 60px;
}
.v .v_link {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    width: 128px;
    height: 80px;
    background: url(/index/img/master.png) no-repeat 5000px 5000px;
}.v .v_link a {
    display: block;
    height: 100%;
}.YK_manager .vsh .v_link, .YK_manager .vsh .v_thumb, .YK_manager .psh .p_link, .YK_manager .psh .p_thumb {
    width: 90px;
    height: 50px;
}
.vsh .v_thumb {
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    height: 60px;
    margin-bottom: 0;
}
.v .v_thumb {
    width: 128px;
    height: 80px;
    overflow: hidden;
    margin-bottom: 7px;
    background: #999;
}.YK_manager .vsh .v_thumb img, .YK_manager .psh .p_thumb img {
    width: 90px;
    height: 58px;
}
.vsh .v_thumb img {
    width: 80px;
    height: 60px;
    margin-top: 0;
}
.v .v_thumb img {
    display: block;
    width: 128px;
    height: 96px;
    margin-top: -8px;
}.YK_manager .vsh .v_ishd {
    top: 34px;
    left: 63px;
}
.vsh .v_ishd {
    top: 44px;
    left: 51px;
}
.v .v_ishd {
    z-index: 1;
    position: absolute;
    top: 64px;
    left: 99px;
    height: 14px;
    line-height: 14px;
    overflow: hidden;
}.vsh .v_menu {
    left: 64px;
}
.v .v_menu {
    z-index: 3;
    position: absolute;
    top: 0;
    left: 112px;
    cursor: pointer;
    width: 16px;
    height: 16px;
    line-height: 16px;
    padding: 0;
    background-repeat: no-repeat;
}.YK_manager .vsh .v_time {
    top: 32px;
}
.vsh .v_time {
    top: 42px;
}
.v .v_time {
    z-index: 1;
    position: absolute;
    top: 62px;
    left: 0;
    height: 18px;
    line-height: 17px;
    overflow: hidden;
}.YK_manager .v .v_time .num {
    font-weight: normal;
}
.v .v_time .num {
    font-weight: bold;
    color: #fff;
    font-size: 11px;
    line-height: 12px;
    margin: 0 4px;
}.v .v_time .bg {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 18px;
    background: #000;
    filter: alpha(opacity=60);
    opacity: 0.6;
}.dateTable_upload .m_check {
    width: 35px;
    text-align: center;
    vertical-align: middle;
}.YK_manager .vsh .v_title, .YK_manager .psh .p_title {
    font-size: 14px;
}.YK_manager .vsh .v_title a, .YK_manager .psh .p_title a {
    color: #555;
}.v li, .v li * {
    line-height: 20px;
    color: #909090;
}.YK_manager .v_info .num {
    margin-right: 10px;
    font-size: 12px;
}
.v li, .v li * {
    line-height: 20px;
    color: #909090;
}
.complete{
	font-size:12px;
}.dateTable_upload .m_stat {
    width: 150px;
}.dateTable_upload .m_stat .stat {
    position: relative;
    padding-right: 15px;
}.dateTable_upload .stat .complete {
    margin: 15px 0 0 -25px;
}.dateTable_upload .stat .complete span {
    padding: 5px 0 0 25px;
}.dateTable_upload .m_heat {
    width: 130px;
}.dateTable_upload .heat {
    padding-left: 25px;
}.dateTable_upload .heat li {
    position: relative;
}.dateTable_upload .heat a {
    color: #555;
}.dateTable_upload .heat .ico__statplay, .dateTable_upload .heat .ico__statcomment, .dateTable_upload .heat .ico__refer {
    position: absolute;
    left: -25px;
    top: 5px;
    *top: 3px;
}.dateTable_upload .heat a {
    color: #555;
    font-size: 12px;
}
.dateTable_upload .heat span {
    color: #909090;
	font-size:12px;
}
.ico__statplay {
    background: url(../images/master.png) no-repeat -64px -224px;
    width: 16px;
    height: 12px;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: text-bottom;
}.dateTable_upload .heat .ico__statcomment, .dateTable_upload .heat .ico__refer {
    position: absolute;
    left: -25px;
    top: 5px;
    *top: 3px;
}
.dateTable_upload .heat span {
    color: #909090;
}
.ico__statcomment {
    background: url(../images/master.png) no-repeat -96px -224px;
    width: 16px;
    height: 12px;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: text-bottom;
}.dateTable_upload .m_opt {
    width: 100px;
    *width: 120px;
}.dateTable_upload .action {
    position: inherit;
    width: 100px;
}
.dateTable_upload .action {
    position: absolute;
    padding: 1px 0 0 1px;
    margin: 0 0 0 -11px;
}.dateTable_upload .action .share {
    display: block;
    padding-left: 1px;
	font-size:12px;
}
/*.dateTable_upload .m_check {
    width: 35px;
    text-align: center;
    vertical-align: middle;
}input[type="checkbox"] {
    padding: 1px;
    margin: -1px 0;
}.dateTable_upload .m_video {
    width: auto;
    padding-right: 20px;
}.YK_manager .vsh, .YK_manager .psh {
    width: auto;
    height: auto;
    min-height: 50px;
    padding-left: 100px;
    margin-bottom: 0;
}
.vsh {
    width: 190px;
    padding-left: 90px;
    min-height: 60px;
}
.v {
    z-index: 0;
    position: relative;
    width: 128px;
    margin-bottom: 10px;
}.YK_manager .vsh .v_link, .YK_manager .vsh .v_thumb, .YK_manager .psh .p_link, .YK_manager .psh .p_thumb {
    width: 90px;
    height: 50px;
}
.vsh .v_link {
    width: 80px;
    height: 60px;
}
.v .v_link {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    width: 128px;
    height: 80px;
    background: url(/index/img/master.png) no-repeat 5000px 5000px;
}.vsh .v_thumb {
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    height: 60px;
    margin-bottom: 0;
}
.YK_manager .vsh, .YK_manager .psh {
    width: auto;
    height: auto;
    min-height: 50px;
    _height: 50px;
    padding-left: 100px;
    margin-bottom: 0;
}
.vsh {
    width: 190px;
    padding-left: 90px;
    min-height: 60px;
    _height: 60px;
}
.v {
    z-index: 0;
    position: relative;
    width: 128px;
    margin-bottom: 10px;
}
.v .v_thumb {
    position: relative;
    width: 128px;
    height: 80px;
    overflow: hidden;
    margin-bottom: 7px;
    background: #999;
}.YK_manager .vsh .v_ishd {
    top: 34px;
    left: 63px;
}
.vsh .v_ishd {
    top: 44px;
    left: 51px;
}
.v .v_ishd {
    z-index: 1;
    position: absolute;
    top: 64px;
    left: 99px;
    height: 14px;
    line-height: 14px;
    overflow: hidden;
}.vsh .v_menu {
    left: 64px;
}
.v .v_menu {
    z-index: 3;
    position: absolute;
    top: 0;
    left: 112px;
    cursor: pointer;
    width: 16px;
    height: 16px;
    line-height: 16px;
    padding: 0;
    background-repeat: no-repeat;
}.YK_manager .vsh .v_time {
    top: 32px;
}
.vsh .v_time {
    top: 42px;
}
.v .v_time {
    z-index: 1;
    position: absolute;
    top: 62px;
    left: 0;
    height: 18px;
    line-height: 17px;
    overflow: hidden;
}
.v li, .v li * {
    line-height: 20px;
    color: #909090;
>>>>>>> refs/remotes/origin/master
}*/
